<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>secondFactor</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>oAuth</param-name>
        <param-value>false</param-value>
    </context-param>
    <security-role>
        <role-name>admin</role-name>
    </security-role>
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>AdminsPage</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <servlet>
        <servlet-name>Pause</servlet-name>
        <servlet-class>Controller.Course.Pause</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Start</servlet-name>
        <servlet-class>Controller.Course.Start</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Stop</servlet-name>
        <servlet-class>Controller.Course.Stop</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Create</servlet-name>
        <url-pattern>/task/create/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>join_course</servlet-name>
        <url-pattern>/course/join</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pause</servlet-name>
        <url-pattern>/course/pause</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Start</servlet-name>
        <url-pattern>/course/start</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Stop</servlet-name>
        <url-pattern>/course/stop</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            120
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/DB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <welcome-file-list>
        <welcome-file>MainPage.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>LogPath</param-name>
        <param-value>elearning.txt</param-value>
    </context-param>
    <context-param>
        <param-name>SiteName</param-name>
        <param-value>ONLINE EDUCATION SYSTEM</param-value>
    </context-param>
    <context-param>
        <param-name>FileDir</param-name>
        <param-value>uploadFiles</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>/home.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>signIn</servlet-name>
        <servlet-class>Controller.User.SignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Create</servlet-name>
        <servlet-class>Controller.Task.Create</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signIn</servlet-name>
        <url-pattern>/user/signIn</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>signUp</servlet-name>
        <servlet-class>Controller.User.SignUp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signUp</servlet-name>
        <url-pattern>/user/signUp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logOut</servlet-name>
        <servlet-class>Controller.User.LogOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logOut</servlet-name>
        <url-pattern>/user/logOut</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cabinet</servlet-name>
        <jsp-file>/user/cabinet.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>cabinet</servlet-name>
        <url-pattern>/user/cabinet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>add_task</servlet-name>
        <servlet-class>Controller.Task.Add</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add_task</servlet-name>
        <url-pattern>/task/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>edit_task</servlet-name>
        <servlet-class>Controller.Task.Edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>api_work_data</servlet-name>
        <servlet-class>api.WorkData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>api_set_mark</servlet-name>
        <servlet-class>api.SetMark</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>edit_task</servlet-name>
        <url-pattern>/task/edit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>course</servlet-name>
        <jsp-file>/course/course_list.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>course</servlet-name>
        <url-pattern>/course/render</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>add_course</servlet-name>
        <servlet-class>Controller.Course.Add</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add_course</servlet-name>
        <url-pattern>/course/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>edit_course</servlet-name>
        <servlet-class>Controller.Course.Edit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>edit_course</servlet-name>
        <url-pattern>/course/edit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>join_course</servlet-name>
        <servlet-class>Controller.Course.Join</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>open_course</servlet-name>
        <servlet-class>Controller.Course.Open</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>open_course</servlet-name>
        <url-pattern>/course/open</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>close_course</servlet-name>
        <servlet-class>Controller.Course.Close</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>close_course</servlet-name>
        <url-pattern>/course/close</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>start_work</servlet-name>
        <servlet-class>Controller.Task.StartWork</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>start_work</servlet-name>
        <url-pattern>/task/work/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>api_work_data</servlet-name>
        <url-pattern>/api/work/get</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>api_set_mark</servlet-name>
        <url-pattern>/api/work/mark</url-pattern>
    </servlet-mapping>
</web-app>
